body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #e5ddd5;
}
.green-part {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  background-color: #1ebea5;
  height: 30vh;
}

.logo-main-img {
  height: 60px;
  position: absolute;
  top: 20px;
  left: 40px;
}
.text-logo {
  position: relative;
  left: 110px;
  top: 40px;
  color: white;
}
@media (max-width: 605px) {
  .green-part {
    height: 20vh;
  }
  .logo-main-img {
    height: 60px;
    position: absolute;
    top: 20px;
    left: 40px;
  }
  .text-logo {
    position: relative;
    left: 110px;
    top: 40px;
    color: white;
  }
}
@media (min-width: 1070px) {
  .logo-main-img {
    height: 60px;
    position: absolute;
    top: 20px;
    left: 280px;
  }
  .text-logo {
    position: relative;
    left: 350px;
    top: 40px;
    color: white;
  }
}
